@import "/src/variables";
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 35px 24px;
  .logo {
    width: 202px;
  }
}
.mobileMenu {
  position: absolute;
  top: 96px;
  left: 0;
  width: 100%;
  ul {
    list-style: none;
    background-color: $black;
    padding: 48px 24px;
    li {
      font-size: 24px;
      font-weight: 400;
      line-height: 25px;
      letter-spacing: 2px;
      text-transform: uppercase;
      &:nth-child(2) {
        margin: 32px 0;
      }
      a {
        color: $white;
        text-decoration: none;
      }
    }
  }
  .background {
    position: absolute;
    display: block;
    background-color: $black;
    opacity: 0.5;
    height: 100%;
    width: 100%;
  }
}

@media (min-width: 768px) {
  header {
    margin: 64px 40px;
  }
  .menu {
    list-style: none;
    display: flex;
    align-items: center;
    li {
      text-transform: uppercase;
      font-size: 14px;
      font-weight: 400;
      line-height: 14px;
      letter-spacing: 2px;
      text-decoration: none;
      &:nth-child(2) {
        margin: 0 42px;
      }
      a {
        color: $darkGrey;
        text-decoration: none;
      }
    }
  }
}
@media (min-width: 1440px) {
  header {
    margin: 64px 165px;
  }
  .menu {
    li {
      &:hover {
        text-decoration: underline;
        font-weight: 600;
      }
    }
  }
}
