@import "src/variables";
.contactForm {
  background-color: $peach;
  background-image: url("/assets/contact/mobile/bgPatternHeroContactMobile.svg");
  background-repeat: no-repeat;
  background-position: 20% 0%;
  padding: 72px 24px;
  .text {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: $white;
    h1 {
      font-size: 32px;
      font-weight: 500;
      line-height: 36px;
      letter-spacing: 0px;
    }
    p {
      font-size: 15px;
      font-weight: 400;
      line-height: 25px;
      letter-spacing: 0px;
      margin: 24px 0 48px;
    }
  }
  form {
    display: flex;
    flex-direction: column;
    input,
    textarea {
      background-color: transparent;
      border: none;
      border-bottom: 1px solid $white;
      margin-bottom: 25px;
      width: 100%;
      color: $white;
      font-size: 15px;
      letter-spacing: 0.2;
      &::placeholder {
        color: $white;
        opacity: 0.5;
        font-size: 15px;
        font-weight: 500;
        line-height: 26px;
        letter-spacing: 0px;
      }
    }
    input {
      padding: 11px 0 11px 14px;
    }
    textarea {
      padding: 11px 0 76px 14px;
    }
    button {
      background-color: $white;
      color: $darkGrey;
      border: 0;
      border-radius: 10px;
      text-transform: uppercase;
      font-size: 15px;
      font-weight: 600;
      line-height: 22px;
      letter-spacing: 1px;
      text-align: center;
      margin: 40px 88px 0;
      padding: 17px 48px;
    }
  }
}

@media (min-width: 768px) {
  .contactForm {
    margin: 0 40px;
    border-radius: 20px;
    background-image: url("/assets/contact/desktop/bgPatternHeroDesktop.svg");
    background-position: -225% -20%;
    padding: 72px 58px;
    .text {
      text-align: left;
      h1 {
        font-size: 48px;
        font-weight: 600;
        line-height: 48px;
      }
      p {
        font-size: 16px;
        line-height: 26px;
        margin: 32px 0 40px;
      }
    }
    form {
      input {
        padding: 12px 0 12px 24px;
      }
      textarea {
        padding: 12px 0 76px 24px;
      }
      button {
        align-self: flex-end;
        margin: 0;
      }
    }
  }
}

@media (min-width: 1440px) {
  .contactForm {
    background-position: 0% 100%;
    display: flex;
    align-items: center;
    padding: 55px 96px;
    margin: 0 164px;
    .text {
      display: flex;
      flex-direction: column;
      text-align: center;
      color: $white;
      h1 {
        text-align: left;
      }
      p {
        width: 450px;
        margin: 32px 95px 0 0;
        text-align: left;
      }
    }
    form {
      width: 100%;
      .input {
        position: relative;
        .error {
          color: $white;
          font-size: 12px;
          font-style: italic;
          font-weight: 400;
          line-height: 26px;
          letter-spacing: 0px;
          text-align: left;
          display: flex;
          align-items: center;
          position: absolute;
          top: 11px;
          right: 0;
          img {
            margin-left: 9px;
          }
        }
      }
      input {
        padding: 11px 0 11px 16px;
        &:active,
        &:focus {
          outline: none;
          border: none;
          border-bottom: 3px solid $white;
        }
      }
      textarea {
        padding: 11px 0 76px 16px;
        &:active,
        &:focus {
          outline: none;
          border: none;
          border-bottom: 3px solid $white;
        }
      }
      button {
        &:hover {
          transition: all 0.2s;
          background-color: $lightPeach;
          color: $white;
          cursor: pointer;
        }
      }
    }
  }
}
