@import "/src/variables";
.locations {
  margin-bottom: 120px;
}
.location {
  background-color: $veryLightPeach;

  img {
    margin-left: calc((100% - 375px) / 2);
  }
  .details {
    background-image: url("/assets/shared/desktop/bgPatternThreeCircles.svg");
    background-repeat: no-repeat;
    background-position: 0% 0%;
    padding: 80px 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    h2 {
      font-size: 32px;
      font-weight: 600;
      line-height: 36px;
      letter-spacing: 0px;
      text-align: center;
      color: $peach;
    }
    .address {
      margin: 24px 0;
    }
    strong {
      margin-top: 24px;
      font-size: 17px;
      font-weight: 800;
      line-height: 25px;
      letter-spacing: 0px;
    }
    small {
      font-size: 15px;
      font-weight: 400;
      line-height: 25px;
      letter-spacing: 0px;
    }
  }
  &:nth-child(2) {
    margin: 40px 0;
  }
}
@media (min-width: 768px) {
  .locations {
    margin: 0 40px 120px;
  }
  .location {
    background-color: white;
    img {
      border-radius: 20px;
      margin-left: calc((100% - 689px) / 2);
    }
    .details {
      margin-top: 24px;
      border-radius: 20px;
      background-color: $veryLightPeach;
      background-position: 0% 100%;
      padding: 88px 75px;
      display: grid;
      grid-template-areas:
        "name ."
        "address contact";
      h2 {
        font-size: 40px;
        line-height: 48px;
        text-align: left;
        grid-area: name;
        margin-bottom: 24px;
      }
      .address {
        grid-area: address;
        text-align: left;
      }
      .contact {
        grid-area: contact;
        text-align: left;
      }
    }
    &:nth-child(2) {
      margin: 120px 0;
    }
  }
}
@media (min-width: 1440px) {
  .locations {
    margin: 0 165px 160px;
  }
  .location {
    background-color: $white;
    display: flex;
    flex-direction: row-reverse;

    img {
      margin: 0;
      margin-left: 30px;
      height: 326px;
    }
    .details {
      background-position: 0% 100%;
      padding: 88px 95px;
      margin: 0;
      width: 100%;

      h2 {
        font-size: 32px;
        line-height: 36px;
        margin: 0;
      }
      .address {
        margin: 24px 0 0;
      }
    }
    &:nth-child(2) {
      margin: 32px 0;
      flex-direction: row;
      img {
        margin: 0;
        margin-right: 30px;
      }
    }
  }
}
